@{
    ViewData["Title"] = "A2";
}
<div class="container">
<img src="~/imgs/inner-banner-taiwanese-download.jpg" style="width: 100%; display: block; margin: 0 auto;" alt="內部橫幅 - 台灣下載" />
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-2 mt-3 text-center">

            <a type="button" class="link-bgcolor text-white fw-bolder  px-4 py-2 mb-2 rounded-pill border border-3   text-decoration-none mb-1 text-black" href="/Jane/A1">工作內容</a>
            <a type="button" class="active link-bgcolor  text-white fw-bolder px-4 py-2 mb-2 rounded-pill border border-3  text-decoration-none mb-1 text-black" href="/Jane/A2">&emsp;學習&emsp;</a>
            <a type="button" class="link-bgcolor text-white fw-bolder  px-4 py-2 mb-1 rounded-pill border border-3   text-decoration-none mb-1 text-black" href="/Jane/A3">心得感想</a>

        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" class="scrollspy-example2  p-3" tabindex="0">
                <div id="item-1">
                    <p class="h5 mb-3 fw-bold title-styleA2 p-2">一、	翻新舊網站、撰寫前台網頁</p><br />
                    <p class=" content-bgcolorA2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我協助翻新的網站有<strong>臺灣國家公園-線上典藏特展、多媒體創意實驗中心</strong>，除此之外，也有幫忙撰寫<strong>國家圖書館數位影音服務系統</strong>的一些前台畫面，基本上對於畫面外觀的呈現，使用到的技術只有Html、CSS、JS，雖然在學校這些程式語言都有學過，但難度遠超過學校學過的，寫法也有點不一樣，例如在撰寫一個網頁時，CSS和JS在學校時都會全寫在同一個檔案裡，在公司時則是要寫在不同的檔案裡，因為程式也較多較複雜，所以分開寫也會因此較容易閱讀或檢查錯誤的地方，在這方面有增進不少能力，還有響應式網站Bootstrap的語法也熟悉了不少。</p><br />
                    <span class="fw-bolder content-bgcolorA2">臺灣國家公園—2020線上特展–天空中的旅行者、<br />臺灣國家公園—國家公園50週年特展</span><br />
                    <div id="carouselExampleAutoplaying1" class="carousel slide mb-4 mt-1 " data-bs-ride="carousel">
                        <div class="carousel-inner rounded-3">
                            <div class="carousel-item active">
                                <img src="~/imgs/1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/3.png" class="d-block w-100" alt="...">
                            </div>
                           
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon carousel-control-prev-icon-point " aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="next">
                            <span class="carousel-control-next-icon carousel-control-next-icon-point" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <br />
                    <span class="fw-bolder mt-5  content-bgcolorA2">國家圖書館數位影音服務系統</span><br />
                    <div id="carouselExampleAutoplaying2" class="carousel slide mb-5 mt-1" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/imgs/4.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/5.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/6.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon carousel-control-prev-icon-point" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="next">
                            <span class="carousel-control-next-icon carousel-control-next-icon-point" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <span class="fw-bolder mt-5 content-bgcolorA2">多媒體創意實驗中心</span><br />
                    <div id="carouselExampleAutoplaying3" class="carousel slide mt-1" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/imgs/7.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/8.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/imgs/9.png" class="d-block w-100" alt="...">
                            </div><div class="carousel-item">
                                <img src="~/imgs/10.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon carousel-control-prev-icon-point " aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="next">
                            <span class="carousel-control-next-icon carousel-control-next-icon-point" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
               
                <div id="item-2">
                    <br /><br />
                    <p class="h5 mb-4 mt-4 fw-bold title-styleA2 p-2">二、新增、刪除、查詢、編輯(CRUD)</p><br />
                    <p class=" content-bgcolorA2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增刪查改是一個完整的系統中滿常見的功能，在學校時，也有在相關的課程裡學習過如何編寫，但在實習時的寫法和在學校學習到的寫法有很大的不同，學校教的方法是每個增刪查改功能都要在Controller建立一個動作方法(Action Method)，再將每個Action Method新增檢視，而公司的作法是將每個網頁的增刪查改功能寫在所屬頁面的JS檔中，這樣一來也比較好修改，在撰寫CRUD的過程中，也很常搭配Jquery的插件DataTables的功能一起使用，例如當要查詢資料時，會將查詢完符合檢索條件的資料顯示在DataTables中。</p>
                    <span class="fw-bolder  content-bgcolorA2">國家圖書館數位影音資源網-管理後台</span><br />
                    <img src="~/imgs/11.png" width="100%" class="mb-4 mt-1" />
                    <span class="fw-bolder  content-bgcolorA2 ">二二八事件受難者相關業務資料庫建置計畫</span><br />
                    <img src="~/imgs/12.png" width="100%" class="mt-1" />

                </div>
                <div id="item-3">
                    <br /><br />
                    <p class="h5 mb-4 mt-4 fw-bold title-styleA2 p-2">三、預存程序</p><br />
                    <p class="content-bgcolorA2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;透過在MS SQL的預存程序中編寫SQL語法時，當對資料進行新增、編輯、刪除等動作時，除了在DataTables呈現時會更改，同時資料庫那端也會對資料進行相同的動作。</p>
                    <br />
                    <span class="fw-bolder fs-5 content-bgcolorA2">操作方法:</span><br />
                    <p class=" content-bgcolorA2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如下圖，@@inputXml.value()是XML數據類型的一個方法，用於從 XML 數據中擷取特定的值。N'(//RoleName)[1]'：這是XPath查詢，指定從 XML 數據中選擇第一個 RoleName 元素，找到元素後轉成nvarchar型態，最後，從 XML 數據中讀取的 RoleName 的值會被賦予給 @@RoleName 變數，接下來再依照功能需求編寫出SQL語法。 </p>
                    <p class=" content-bgcolorA2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用預存程序可以使效能提升，可減少SQL語句的解析和編譯時間，進而提高查詢的執行效率。除此之外維護性也強，只需在數據庫中修改預存程序，而不需要更改應用程序的代碼。這使得維護和更新變得更加方便和高效。</p>
                    <span class="fw-bolder fs-5 content-bgcolorA2">新增</span><br />
                    <img src="~/imgs/create.png" width="100%" class="mb-4 mt-1">
                    <span class="fw-bolder fs-5 content-bgcolorA2">編輯</span><br />
                    <img src="~/imgs/edit.png" width="100%" class="mb-4 mt-1" />
                    <span class="fw-bolder fs-5 content-bgcolorA2">刪除</span><br />
                    <img src="~/imgs/delete.png" width="100%" class="mb-4 mt-1" />
                </div>  
                <div id="item-4">
                    <p class="h5 mb-4 mt-4 fw-bold title-styleA2 p-2">四、修復無障礙網頁</p><br />
                    <p class=" content-bgcolorA2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根據無障礙網路空間服務網上的規章，對網站進行修復，再用Freego進行掃描檢測修復後的結果是否檢測通過，有分A、AA、AAA級。我幫忙修復的內容有，</p>
                    <p class=" content-bgcolorA2">1.如果連結點開後會另開視窗，則要在連結旁註解會”另開新視窗”等字樣，目的是應先告知使用者會另開新視窗。作法是要先判斷每個欄位是否有內容，如果有則在旁邊加上” 另開新視窗”。</p>
                    <span class="fw-bolder fs-5 content-bgcolorA2">財政部各稅法令函釋檢索系統</span><br />
                    <img src="~/imgs/13.png" width="100%" class="mt-1" />
                    <img src="~/imgs/14.png" width="100%" class="mt-1" /><br /><br /><br />
                    <p class=" content-bgcolorA2">2.查詢結果「顯示幾項結果」，下拉選單選擇後會自動改變選擇內容，要先描述會發生甚麼事，我的作法是當使用者選擇想要顯示幾項的選項後，該頁面會彈出一個modal框，提示會顯示幾項查詢結果。</p>
                    <span class="fw-bolder fs-5 content-bgcolorA2">財政部各稅法令函釋檢索系統</span><br />
                    <img src="~/imgs/15.png" width="100%" class="mt-1" />
                </div>
               
            </div>
        </div>
        <div class="col-2">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch ">
                <nav class="nav nav-pills flex-column">
                    <a class="mb-3 text-decoration-none nav-color fw-bolder" href="#item-1">一、翻新舊網站、撰寫前台網頁</a>
                    <a class="mb-3 text-decoration-none nav-color fw-bolder" href="#item-2">二、增刪查改</a>
                    <a class="mb-3 text-decoration-none nav-color fw-bolder" href="#item-3">三、預存程序</a>
                    <a class="mb-3 text-decoration-none nav-color fw-bolder" href="#item-4">四、修復無障礙網頁</a>
                </nav>
            </nav>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
