@{
    ViewData["Title"] = "心得感想";
}
<div class="container">
    <img src="~/imgs/inner-banner-taiwanese-download.jpg" style="width: 100%; display: block; margin: 0 auto;" alt="內部橫幅 - 台灣下載" />
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-2 mt-3 text-center">
            <a type="button" class="link-bgcolor text-white fw-bolder  px-4 py-2 mb-2 rounded-pill border border-3   text-decoration-none mb-1 text-black" href="/Jane/A1">工作內容</a><br />
            <a type="button" class="link-bgcolor text-white fw-bolder  px-4 py-2 mb-2 rounded-pill border border-3  text-decoration-none mb-1 text-black" href="/Jane/A2">&emsp;學習&emsp;</a><br />
            <a type="button" class="active link-bgcolor text-white fw-bolder  px-4 py-2 mb-1 rounded-pill border border-3   text-decoration-none mb-1 text-black" href="/Jane/A3">心得感想</a>

        </div>
        <div class="col-10">
            <div class="h3 mb-4 fw-bold title-style p-2 rounded-end-circle">&nbsp心得感想&nbsp</div><br>
            <div class="fs-5 content-bgcolor p-4  ">
                <p>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在實習的最一開始，我有深刻地意識到自己在專業能力和學習速度上的不足，甚至懷疑自己是否適合程式開發，因為遇到了許多在學校沒有遇過的語法，和有點不熟悉的工具及技術，如、JQuery、DataTable等，加上Html、CSS、JS、SQL等這些語法雖然在學校也學過基礎知識，但在公司學習的比在學校學的還要更具有挑戰性許多，一切都讓我感到相當挫折。
                </p>
                <p>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;起初被指派工作時，我發現我會對面對新工作時手足無措，對於要如何著手也毫無頭緒，因為在職場上開發程式與在學校完成的作業截然不同，需要考慮到程式碼的簡潔性、是否能讓別人一看我的程式碼就能大概知道網頁的外觀、等多方面因素等。這促使我調整心態，投入更多時間適應。當我剛開始進行增刪查改功能開發時，面對的挑戰更加巨大，因為我需要學習如何寫預存程式、前端連接後端、如何逐步偵錯尋找錯誤等等，這些都是我之前沒遇過的，因此我需要花更多時間自主學習以及熟悉程式。在這過程中，我意識到”提出問題”和”勇敢詢問”是非常重要的，因為有時候就算上網查詢或逐步偵錯時，也不見得都能找出程式錯誤的地方在哪或者如何修改，因此當遇到困難就會積極向同事請教，數月過去，儘管進步速度慢，但我未曾氣餒，反而積極投入學習新技能，並嘗試將其應用於專案中。逐漸地我也有剛始進入狀況，找到了自己的步調，並且也適應了朝九晚五的工作節奏，感激前輩們給予我耐心的指導和建議，讓我不斷成長，內化這些知識。
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;總結而言，在過去這段時間中，儘管實習的過程充滿了挑戰和困難，這些經歷對我來說都是難能可貴的。每天的程式開發對我來說都是一次寶貴的學習機會，這不僅提升了我的思路清晰度，還讓我接觸到更多領域的知識。我從中學到了很多，不論是成功還是失敗，我也發現自我學習和持續進步是成功的關鍵。通過每天的摸索、學長的教導和研讀官方文件，我感覺自己的能力已有所提升。雖然起初困難重重，現在仍會遇到一些挑戰，但我逐漸掌握了這些技能，感覺自己已經成長了許多，我覺得如果沒有跳脫舒適圈，我絕對不會獲得如此寶貴的經驗，我將保持這種學習態度，期許未來能不斷挑戰自我能有更大的突破，努力提高程式邏輯的思考速度以應對更高層次的考驗或難題，並希望在不久的將來能對這份工作更加得心應手。
                </p>
            </div>
        </div>
       @* <div class="col-1"></div> *@
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  
 </div>
