<div class=" bg-hexdacab7">
    <div class="container px-4">
        <section class="container container-fluid px-4 pt-5 ">
            <div class="text-center pb-5 ">
                <p class="h1 fw-bold">元智資管系</p>
                <p class="h1 fw-bold">第 29 屆專業實習成果展</p><br />
                <p class="h5">公司代號：U3</p>
                <p class="h5">指導教授：陸承志</p>
                <p class="h5">學生：1101661 褚宥辰、1101662 陳儀蓁</p>
            </div>
        </section>
    </div>
</div>

<div class="container px-4 mt-5">
    <section class="container container-fluid px-4 mt-5 ">
        <div id="slider"></div>
        <div class="text-center title pt-5">
            <div class="underline h3 fw-bold" id="introduction"><i class="fa-solid fa-house"></i>公司簡介 Introduction</div>
        </div>
        <br />
        <div class="d-flex justify-content-center align-items-center pb-5">
            <div class="row">
                <div class="col-sm-6"><img class="img-style img-fluid rounded-3 me-2" src="~/imgs/s__21954616.jpg" /></div>
                <div class="col-sm-6">
                    <div class="h3 fw-bolder"><i class="fa fa-light fa-sitemap me-1"></i>宜誠資訊股份有限公司</div>
                    <p class="lh-lg fs-6">
                        &emsp;&emsp;宜誠資訊股份有限公司是數位典藏創先者，獨家首創人臉辦識系統，國際認可文件掃描數位化權威。目前為國內數位化服務、典藏系統業者之領導廠商。
                        本公司秉持之經營理念是『我們要一直保有創業的精神，凡事以客戶立場為本公司立場』，提昇服務品質為己志。
                        提供客戶完整規劃、建置、維運之整體方案，並以客戶需求為導向，發展出全方位與整體性之系統。
                    </p>
                    <div>
                        <span class="fw-bolder fs-5">經營項目</span>
                        <p><i class="fa fa-angle-double-right me-1"></i>系統整合與開發：專案應用系統開發建置、網站建置、雲端虛擬化整合、資料庫整合、行動裝置應用系統、硬體設備銷售及維護、影像管理系統開發建置。</p>
                        <p><i class="fa fa-angle-double-right me-1"></i>顧問規劃：各式專案計畫辦公室、E化顧問與規劃、異質系統整合分析與規劃、行動裝置應用規劃。</p>
                        <p><i class="fa fa-angle-double-right me-1"></i>數位媒體設計：活動企畫、行銷公關、視覺設計、印刷、電子書設計及製作、數位出版、 數位學習。</p>
                    </div>
                </div>

            </div>

        </div>
        <div id="service"></div>
        <div class="text-center title pt-5">
            <div class="underline h3 fw-bold" id="main services"><i class="fa-brands fa-yelp"></i>主要服務Main services</div>
        </div>
        <div class="row mt-5 justify-content-md-center pb-5">
            <div class="col-md-4">
                <div class="icon-background pull-left"><i class="fa-solid fa-box-archive iconcolor-white"></i></div>
                <div class="media-body">
                    <div class="h3 fw-bold"><div class="text-black">國家級典藏</div></div>
                    <p>數位典藏、實體典藏、專業團隊與設備、微縮、善本古籍數位化、人臉辨識自動詮釋、詮釋建檔、人力派遣、地圖、工程圖、地籍圖等資料建檔</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-background pull-left"><i class="fa-solid fa-database iconcolor-white"></i></div>
                <div class="media-body">
                    <div class="h3 fw-bold"><div class="text-black">資訊系統服務</div></div>
                    <p>內容網站建置、數位典藏系統、Web資料庫、虛擬導覽、GIS地理資訊應用、公文影像系統、文件影像管理系統、文件影像辨識、數位學習系統、Barcode/RFID應用</p>
                </div>
            </div>
            <div class=" col-md-4 service">

                <div class="icon-background pull-left"><i class="fa-solid fa-book iconcolor-white"></i></div>
                <div class="media-body">
                    <div class="h3 fw-bold"><div class="text-black">數位媒體服務</div></div>
                    <p>數位媒體製作、創意整合、公關行銷、活動包裝企畫、視覺美術/設計/印刷、文創商品販售及設計</p>
                </div>
            </div>
        </div>
        <div id="contact"></div>
        <div class="text-center title pt-5">
            <div class="underline h3 fw-bold" id="interns"><i class="fa-solid fa-user"></i>實習生Intern</div>
        </div>
        <div class="row mt-5 px-3 justify-content-center pb-5">
            <div class="col-md-4 col-sm-12 me-3 px-5">
                <div class="card shadow pb-2">
                    <img src="~/imgs/3d3c5e6fe2d0ed801236840a3080db04.jpg" class="card-img-top p-5 circular-image" />
                    <div class="card-body text-center">
                        <h6 class="color-hex5c4b51">系統整合處A</h6>
                        <h5 class="color-hex5c4b51 fw-bold pb-3">褚宥辰Chu</h5>
                        <a href="/Chu/A" class="btnn rounded-pill p-2">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ms-3 px-5">
                <div class="card shadow pb-2">
                    <img src="~/imgs/Meo.jpg" class="card-img-top p-5 circular-image" />
                    <div class="card-body text-center">
                        <h6 class="color-hex5c4b51">系統整合處A</h6>
                        <h5 class="color-hex5c4b51 fw-bold pb-3">陳儀蓁Jane</h5>
                        <a href="/Jane/A1" class="btnn rounded-pill p-2">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="blog"></div>
        <div class="row pt-5">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <p><a class="color-hex5c4b51 nav-button p-1" href="/">Home</a></p>
                        <ul class="list-unstyled">
                            <li class="mb-1"><a href="#introduction" class=" text-decoration-none text-black">Introduction</a></li>
                            <li class="mb-1"><a href="#main services" class=" text-decoration-none text-black">Main Services</a></li>
                            <li class="mb-1"><a href="#interns" class=" text-decoration-none text-black">Intern</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <p><a class="color-hex5c4b51 nav-button p-1" href="/Chu/A">Chu</a></p>
                        <ul class="list-unstyled">
                            <li class="mb-1"><a href="/Chu/A" class=" text-decoration-none text-black">工作內容</a></li>
                            <li class="mb-1"><a href="/Chu/B" class=" text-decoration-none text-black">學習</a></li>
                            <li class="mb-1"><a href="/Chu/C" class=" text-decoration-none text-black">自我評估及心得感想</a></li>
                            <li class="mb-1"><a href="/Chu/D" class=" text-decoration-none text-black">對系上的建議</a></li>
                        </ul>

                    </div>
                    <div class="col-sm-4">
                        <p><a class="color-hex5c4b51 nav-button p-1" href="/Jane/A1">Jane</a></p>
                        <ul class="list-unstyled">
                            <li class="mb-1"><a href="/Jane/A1" class=" text-decoration-none text-black">工作內容</a></li>
                            <li class="mb-1"><a href="/Jane/A2" class=" text-decoration-none text-black">實習</a></li>
                            <li class="mb-1"><a href="/Jane/A3" class=" text-decoration-none text-black">心得感想</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <iframe class="iframe-style" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14456.638302049769!2d121.544798!3d25.06258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abf8e1235ab3%3A0xbf32b251a28a566c!2z5a6c6Kqg6LOH6KiK6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1715224930370!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</div>