<div class="container text-center mt-5">
    <h2 class="mb-3 color-hex5c4b51"><strong>宜誠資訊</strong></h2>
    <h3 class="mb-5 color-hex5c4b51"><strong>1101661褚宥辰</strong></h3>
    <div class="btn-group" role="group">
        <a class="btn bounded-radius pt-2" href="/Chu/A">工作內容</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/B">學習</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/C">自我評估及心得感想</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/D">對系上的建議</a>
    </div>
</div>
<div class="container mt-5">
    <h4 class=" color-hex5c4b51 zi_box_1">工作詳述</h4>
    <p class="px-4 mt-4">
        &emsp;&emsp;&emsp;我所在的部門是<strong>系統整合處</strong>，主要職責是開發和維護各種網站系統，從專案的最初標案階段，直到系統的最終交付和後續維護階段。我們面對的項目範圍相當廣泛，包括網站建置、數位文件影像管理系統、數位典藏系統、應用系統開發以及文物普查系統開發等等。
        在這些多樣性的項目中，我負責的主要工作範圍<strong>從前台網站開發的撰寫一直延伸到後台與資料庫的串聯，最後撰寫操作手冊及測試報告</strong>。這包括將設計圖轉化為實際的網站界面、系統的各個組件之間能夠順利地傳遞和儲存資料與項目是否能順利進行和成功交付。
    </p>
</div>
<div class="container mt-5 mb-5">
    <h4 class="color-hex5c4b51 zi_box_2">實習期間完成之進度</h4>
</div>
<div class="wrap mb-5">
	<ul class="timeline">
		<li>
            <a href="" onclick="event.preventDefault()">
                <h4 class="color-hex5c4b51">1月 - 基礎打底</h4>
                <p>在剛進公司的時候，對於大一時學的HTML、C#、JavaScript…很生疏，教導我們的同事就推薦我們去freecodecamp和codewars上找練習題練習。</p>
			</a>
		</li>
		<li>
            <a href="" onclick="event.preventDefault()">
                <h4 class="color-hex5c4b51">2月 - 翻新舊網站</h4>
                <p>台灣國家公園數位典藏線上特展是我進入公司後跟的第一個專案，是幫他們架設新網站。我一開始根本無從下手，自行上網查Bootstrap官方文件多次後才慢慢漸入佳境。</p>
			</a>
		</li>
        <li>
            <a href="" onclick="event.preventDefault()">
                <h4 class="color-hex5c4b51">3月 - 國家圖書館數位影音服務系統</h4>
                <p>根據設計圖，我們在開發過程中需要確保網站呈現與設計圖一致。</p>
            </a>
        </li>
        <li>
            <a href="" onclick="event.preventDefault()">
                <h4 class="color-hex5c4b51">4月 - 二二八事件受難者相關業務資料庫後台撰寫</h4>
                <p>在開發過程中，我們通常先完成HTML的結構，然後進入實際的功能實現階段，如新增、刪除、查詢和修改等。例如，對於查詢功能，我們需要在SQL中撰寫相應的條件，以便根據用戶的選擇篩選資料庫的內容。用戶就可以根據他們的需求進行查詢，系統會根據設定的條件返回相應的結果。</p>
            </a>
        </li>
        <li>
            <a href="" onclick="event.preventDefault()">
                <h4 class="color-hex5c4b51">5月 - 國家圖書館多媒體創意實驗中心</h4>
                <p>將舊網站的內容翻寫到新網站上，再把資料帶到前台頁面上，有了2月的台灣國家公園數位典藏線上特展的經驗後，這次相較於第一次輕鬆很多。</p>
            </a>
        </li>
	</ul>
</div>