<div class="container text-center mt-5">
    <h2 class="mb-3 color-hex5c4b51"><strong>宜誠資訊</strong></h2>
    <h3 class="mb-5 color-hex5c4b51"><strong>1101661褚宥辰</strong></h3>
    <div class="btn-group" role="group">
        <a class="btn bounded-radius pt-2" href="/Chu/A">工作內容</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/B">學習</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/C">自我評估及心得感想</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/D">對系上的建議</a>
    </div>
</div>
<div class="container mt-5">
    <h4 class="color-hex5c4b51 zi_box_4">翻新舊網站</h4>
    <div class="row">
        <p class="px-4 my-4 col-md-7">
            &emsp;&emsp;&emsp;台灣國家公園數位典藏線上特展是我進入公司後跟的第一個專案。這個專案的主要目標是將原本的網站程式碼從使用 style
            標籤轉換到使用 CSS 樣式表，因此需要進行大規模的程式碼重寫。我從主畫面到內文都有負責到。在國家圖書館多媒體創意實驗中心這個專案中，我們也是將舊網站進行翻新，重新編寫SQL，讓後台資訊渲染到前台畫面上。同時，我們透過獲取參數並利用這些參數來確定要渲染的資料，實現對特定資料的渲染。
            這個專案的開始並不容易，舊網站屬於別公司很久以前所寫的，要理解別人程式碼每一行在做什麼的時間還不如自己從零開始寫，因此需要從空白的開始重新一步一步寫出。一開始，我發現自己在課堂上學習到的知識與實際需求之間有著巨大的差距，因此，我花了很多時間不斷地閱讀文件、尋找資源，嘗試各種不同的方法，以提升自己的技能。在這個過程中，我學到了如何有效地使用 CSS 來設計和美化網頁，學習了如何利用 CSS 的各種功能和屬性來實現不同的設計效果，如布局、動畫效果等，同時，我也學會了如何在實際應用中不斷改進我的撰寫方式，以提高可讀性。
        </p>
        <section id="carouselExampleIndicators" class="carousel slide col-md-5">
            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/imgs/螢幕擷取畫面_17-5-2024_17929_npda.nps.gov.tw.jpeg" class="d-block w-100 img-fluid">
                        <p class="fw-bold text-center">台灣國家公園數位典藏線上特展首頁</p>
                </div>
                <div class="carousel-item">
                    <img src="/imgs/螢幕擷取畫面_17-5-2024_17912_npda.nps.gov.tw.jpeg" class="d-block w-100 img-fluid">
                    <p class="fw-bold text-center">台灣國家公園數位典藏線上特展</p>
                    </div>
                <div class="carousel-item">
                    <img src="/imgs/螢幕擷取畫面_17-5-2024_17954_localhost.jpeg" class="d-block w-100 img-fluid">
                    <p class="fw-bold text-center">國家圖書館多媒體創意實驗中心</p>
                    </div>
                <div class="carousel-item">
                    <img src="/imgs/螢幕擷取畫面_17-5-2024_171023_localhost.jpeg" class="d-block w-100 img-fluid">
                    <p class="fw-bold text-center">國家圖書館多媒體創意實驗中心</p>
                    </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>

    </div>
</div>

<div class="container mt-5">
    <h4 class="color-hex5c4b51 zi_box_4">前後台開發</h4>
    <p class="px-4 my-4">
        &emsp;&emsp;&emsp;網站被區分為前台和後台畫面，前者為使用者所看到的畫面，需要吸引並引起他們的興趣，因此，它通常被設計得較為華麗。而後台則用於網站的管理和維護，其設計相對簡單，但功能必須實用。在我進入公司後的第二和第三個專案中，我參與了國家圖書館數位影音服務系統和二二八事件受難者相關業務資料庫建置的開發工作，這兩個專案都具有重要的意義，並給我帶來了不同的挑戰和學習機會。<br />
    </p>
    <p class="px-4">
        &emsp;&emsp;&emsp;國家圖書館數位影音服務系統的前台分為數位影音服務系統和本土語言資源館兩個部分。最初階段，當我們需要向客戶展示前台畫面的設計樣式時，我們會跟設計部門緊密合作，以確保設計圖能夠完美呈現在網站界面上。另一方面，後台畫面則主要用於網站的維護和資料更新，而後台的畫面設計沒有像前台一樣有設計圖可參考，通常是直接告訴你需要哪些功能，然後我們就必須將這些功能呈現出來，而後台主要功能就有新增、刪除、查詢、修改、匯出…。在這個過程中，團隊需與客戶密切溝通，了解他們的需求並提供解決方案，以確保我們的作品能夠滿足他們的需求和期望。同時，我也積極學習和探索新的技術和工具，以提高我們的工作效率和品質。
    </p>
    <div class="row">
        <div class="col-md-3">
            <img src="~/imgs/147.png" />
            <p class="fw-bold text-center">數位影音服務系統首頁</p>
        </div>
        <div class="col-md-3">
            <img src="~/imgs/258.png" />
            <p class="fw-bold text-center">本土語言資源館影音資料</p>
        </div>
    </div>
</div>
<div class="container my-5">
    <h4 class="color-hex5c4b51 zi_box_4">後端資料庫</h4>
    <p class="px-4 mt-4">
        &emsp;&emsp;&emsp;在開發國家圖書館數位影音服務系統的過程中，後台系統也是同時進行的，接下來的挑戰就是為每個按鈕添加有效的 JavaScript 功能，使其能夠在後台人員操作時正確執行相應的功能。不管是前台還是後台的過程都需要從零開始進行，因為每個按鈕都可能需要不同的行為，且與後端資料庫的連接必須順暢。在後台程式的撰寫中，需要確保每個按鈕都能夠執行正確的操作，如點擊按鈕後顯示特定的內容、打開視窗、提交表單等等。在這過程中我需要深入了解 JavaScript 的語法和原理，並根據設計需求編寫相應的程式碼。<br />
    </p>
    <p class="px-4">
        &emsp;&emsp;&emsp;而後端資料庫的連接則是實現前後端數據交換的關鍵。這需要在預存程序中使用 SQL 語言來編寫資料庫交互的程式碼，以實現數據的新增、刪除、查詢、編輯、匯出等操作。需要確保 JavaScript 和 SQL 的程式碼能夠無縫配合，實現前後端的數據流暢傳遞。在這一連串的工作中，我必須保持細心和耐心，並隨時準備應對可能出現的問題和挑戰。每一行程式碼的撰寫都需要仔細思考和一次次的測試，以確保最終的功能能夠滿足需求並達到預期的效果。
    </p>
    <div class="row">
        <div class="col-md-3">
            <img src="~/imgs/369.png" />
            <p class="fw-bold text-center">數位影音資源網後台與資料庫做串聯(查詢、匯出功能)</p>

        </div>
        <div class="col-md-3">
            <img src="~/imgs/159.jpg" />
            <p class="fw-bold text-center">二二八受難者相關業務後台(新增、刪除、查詢、編輯、匯出功能)</p>

        </div>
    </div>
</div>
<div class="container mt-5">
    <h4 class="color-hex5c4b51 zi_box_6">無障礙</h4>
    <p class="px-4 mt-4">
        &emsp;&emsp;&emsp;無障礙指的是設計和製作網站、應用程式或其他數位產品，以確保所有人包括具有殘障或特殊需求的人，都能夠輕鬆地訪問和使用。無障礙設計不僅是一個道德上的要求，也是法律和法規的要求，在政府的專案中必須要有無障礙的功能，而無障礙的要求例如1.網站的色彩要有對比度，以確保即使對於視力受限的用戶也能夠輕鬆閱讀和識別內容。2.鍵盤導航功能，這樣使用者可以使用鍵盤而不是滑鼠來操作網站。3.所有圖像添加了適當的替代文本，這樣視力受限的用戶可以通過屏幕閱讀器獲取相應信息。在一個專案正式上線後，無障礙網站空間服務網會對專案進行測試，以確保它符合無障礙的要求。這些要求通常分為A、AA和AAA三個級別，A是較基本的要求，AA是中級的要求，而AAA則是更高級別的要求。如果專案被發現有不符合無障礙標準的地方，它將被登錄在網路上，並要求立即做出修改。<br />
    <p class="px-4">
        &emsp;&emsp;&emsp;在我實習的過程中，我深入了解了無障礙設計的重要性，根據無障礙網站空間服務網所提出不符合的項目進行修改，例如1.修改了各項檔案的下載或開啟，將檔案名稱與副檔名(pdf、doc或其他格式)資訊，標示於超連結文字或替代文字內，讓游標移到該檔案連結時，即可預先知道檔案資訊，2.修改了使用Tab鍵時，要按照從左到右從上到下的焦點遊走順序。因此，學習了如何對數位產品進行無障礙設計的修改，修改完後再用Freego進行偵錯，看還有哪裡沒有符合無障礙要求。
    </p>
    <div class="row">
        <div class="col-md-3">
            <img src="~/imgs/456789.png" />
            <p class="fw-bold text-center">無障礙網站空間服務網所偵測到不符合無障礙要求的項目</p>
        </div>
        <div class="col-md-3">
            <img src="~/imgs/789456.png" />
            <p class="fw-bold text-center">針對2.4.3焦點順序所做出的修改</p>
        </div>
    </div>
</div>

