<div class="container text-center mt-5">
    <h2 class="mb-3 color-hex5c4b51"><strong>宜誠資訊</strong></h2>
    <h3 class="mb-5 color-hex5c4b51"><strong>1101661褚宥辰</strong></h3>
    <div class="btn-group" role="group">
        <a class="btn bounded-radius pt-2" href="/Chu/A">工作內容</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/B">學習</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/C">自我評估及心得感想</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/D">對系上的建議</a>
    </div>
</div>
<div class="container my-5">
    <h4 class=" color-hex5c4b51 zi_box_3">自我評估及心得感想</h4>
    <p class="px-4 mt-4">
        &emsp;&emsp;&emsp;這段時間的實習經歷對我來說是一段充滿挑戰和成長的時光。在這個過程中，我不斷地面對新的任務和困難，但同時也獲得了豐富的學習和實踐機會。首先，我發現自己在專業知識方面還有很大的不足之處。儘管在學校裡學習了相關的理論知識，但實際應用時發現還需要更多的實踐經驗和技能提升。在開發過程中，我遇到了許多技術性的問題，需要通過不斷的嘗試和學習來解決。這讓我意識到學習是一個不斷進步的過程，我需要持續地學習和成長，才能更好地應對工作中的挑戰。其次，我也意識到了團隊合作的重要性，在專案中，我們需要與設計師、後端工程師密切合作、共同解決問題、完成任務。透過團隊合作，我們可以學習、成長，並且能夠更快地解決問題，提高工作效率。在這個過程中，我學會了如何有效地與團隊溝通，如何互相解決問題，這對我未來的職業生涯將是非常寶貴的能力。此外我也意識到了自己的時間管理和解決問題的能力，在忙碌的工作中，我學會了如何合理安排時間，有效地完成任務。當遇到困難和挑戰時，我也學會了如何冷靜應對，尋找解決問題的方法。<br />
    </p>
    <p class="px-4">&emsp;&emsp;&emsp;最後，這段實習經歷讓我更加明確了自己的職業目標和發展方向。通過實際的工作，我深刻理解了自己的興趣所在，也意識到了自己的不足之處。我希望將來能夠在前端開發領域深耕，不斷提升自己的技能水平。&ensp;總體來說，這段實習經歷對我來說是一個寶貴的學習和成長機會。我在這個過程中學到了許多寶貴的經驗和教訓，也獲得了更多的成就感。我相信這些收穫將對我未來的職業生涯有著深遠的影響，我會繼續努力學習和成長。</p>
    
</div>
