<div class="container text-center mt-5">
    <h2 class="mb-3 color-hex5c4b51"><strong>宜誠資訊</strong></h2>
    <h3 class="mb-5 color-hex5c4b51"><strong>1101661褚宥辰</strong></h3>
    <div class="btn-group" role="group">
        <a class="btn bounded-radius pt-2" href="/Chu/A">工作內容</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/B">學習</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/C">自我評估及心得感想</a>
        <span class="divider">|</span>
        <a class="btn bounded-radius pt-2" href="/Chu/D">對系上的建議</a>
    </div>
</div>
<div class="container my-5">
    <h4 class=" color-hex5c4b51 zi_box_5">履歷繳交時間及實習的公司與職缺</h4>
    <p class="px-4 mt-4">
        &emsp;&emsp;&emsp;大三上，課業繁重但同時還需要花時間來製作履歷，讓我感到手忙腳亂，無法應付，上傳履歷和段考的時間也非常近，沒辦法好好的去了解所要面試的公司。若能調整繳交期限，讓學生能在製作履歷前可以先更了解公司，能思考自己是否適合這份職位。而關於實習公司和職缺可以早點公佈，或者是在大一的時候就可以傳給我們看歷屆公司職缺所需要的技能，讓我們能在大一時有目標，不需要在公佈之後到面試之前這個時間中需要快速自學公司所要求的技能。<br />
    </p>
    <p class="px-4">&emsp;&emsp;&emsp;最後很感謝系上有這個實習的機會，讓我們能夠到外面實際工作，提早體驗職場生活。</p>

   
</div>
